<div class="bg">
  <div class="container mt-3">
  
    <br>
  
      <div class="entry" >
        <p>Fields marked with a * is required</p>
      </div>
  
      <form #form="ngForm">
  
        <div class="row">
  
          <!-- FIRST NAME -->
  
          <div class="col col-12 col-sm-6 col-md-6 col-lg-6 mb-auto">
            <div class="form-group">
              <label for="firstName">First Name</label>
                <em>*</em><br>
                <input
                  autofocus
                  required
                  class="form-control"
                  minlength="3"
                  maxlength="15"
                  pattern="[A-Za-z]+"
                  ngModel
                  name="firstName"
                  #firstName="ngModel"
                  (change)="log(firstName)"
                  id="firstName"
                  type="text"
                  placeholder="First Name">
  
                <div
                  class="alert alert-danger"
                  *ngIf="firstName.touched && !firstName.valid">
                  <div *ngIf="firstName.errors.required">
                    First name is required.
                  </div>
                  <div *ngIf="firstName.errors.minlength">
                    First name should be minimum 3 characters.
                  </div>
                  <div *ngIf="firstName.errors.pattern">
                    First name doesnt match pattern.
                  </div>
               </div>
            </div>
          </div>
  
        <!-- LAST NAME -->
  
          <div class="col col-12 col-sm-6 col-md-6 col-lg-6 mb-auto">
            <div class="form-group">
              <label for="lastName">Last Name</label>
               <em>*</em><br>
                <input
                  required
                  class="form-control"
                  minlength="3"
                  maxlength="15"
                  pattern="[A-Za-z]+"
                  ngModel
                  name="lastName"
                  #lastName="ngModel"
                  (change)="log(lastName)"
                  id="lastName"
                  type="text"
                  placeholder="Last Name">
  
                <div
                  class="alert alert-danger"
                  *ngIf="lastName.touched && !lastName.valid">
                  <div *ngIf="lastName.errors.required">
                    Last name is required.
                  </div>
                  <div *ngIf="lastName.errors.pattern">
                    Last name doesnt match pattern.
                  </div>
                </div>
  
              </div>
          </div>
        </div>
  
  
        <div class="row">
  
          <!-- DROPDOWN -->
  
          <div class="col col-12 col-sm-6 col-md-6 col-lg-6 mb-auto">
            <div class="form-group" [class.has-error]="country.touched && country.invalid">
            <label for="country" class="control-label">Country/Region of Residence</label>
            <em>*</em><br>
  
            <select
            class="form-control"
            id="country"
            required
            #country="ngModel"
            ngModel
            name="country"
            #country="ngModel"
            (change)="logC(country)">
              <option value="">Select Country/Region of Residence</option>
              <option ng-model="myVar" value="Canada">Canada</option>
              <option value="India">India</option>
              <option value="China">China</option>
              <option ng-model="myVar" value="USA">USA</option>
              <option value="Brazil">Brazil</option>
           </select>
           <div
                  class="alert alert-danger"
                  *ngIf="country.touched && !country.valid">
                  <div *ngIf="country.errors.required">
                    Country/Region of Residence is required.
                  </div>
             </div>
  
           </div>
  
         </div>
  
  
          <!-- ZIP CODE -->
  
          <div class="col col-12 col-sm-6 col-md-6 col-lg-6 mb-auto">
  
  
            <label for="post">ZIP/Postal Code (Required for USA/Canada)
            </label><br>
            <input
             class="form-control"
             [required]="country.value === 'Canada'|| country.value === 'USA'"
              id="post"
             type="text"
             placeholder="ZIP/Postal Code"
             
             ngModel
             name="post"
             #post="ngModel"
             (change)="log(post)">
      
             <div
                  class="alert alert-danger"

                  *ngIf="post.touched && !post.valid">
                  <div *ngIf="post.errors.required">
                    ZIP/Postal Code is required.
                  </div>

                  <div *ngIf="post.errors.pattern">
                    ZIP/Postal Code is invalid.
                  </div>


             </div >
        </div>
      </div>
      
      <!-- <div id="hide" >
        <p>*</p>
        </div> -->

      <br>

        <label class="control-label">
          Preferred Contact Method For The Quote</label><em>*</em><br>
  
        <div class="form-group" [class.has-error]="contactPreference.invalid">
  
        <!-- RADIO BUTTONS -->
  
        <div class="radio-inline mb-auto">
  
         <label for="contactPreference" class="radio-inline">
          <input
          type="radio"
          name="contactPreference"
          value="mail"
          ngModel
          #contactPreference="ngModel"
          required>
          Email
         </label>
  
         <label for="contactPreference" class="radio-inline">
         <input
          type="radio"
          name="contactPreference"
          required
          value="Phone"
          ngModel
          #contactPreference="ngModel"
          [(ngModel)]="num.contactPreference">
          Phone
         </label>
  
         <label for="contactPreference" class="radio-inline">
         <input
          type="radio"
          value="nothing"
          name="contactPreference"
          ngModel
          #contactPreference="ngModel"
          required>
          No Preference
         </label>
  
  
         </div>
         <!-- Contact Preference Selected Value : {{ contactPreference.value }} -->
        </div>
    <br>
  
  
      <div class="row">
  
          <!-- E-MAIL -->
  
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 mb-auto">
          <label for="inputEmail">Email</label><em>*</em>
          <input
           type="email"
           class="form-control"
           id="inputEmail"
           placeholder="Email"
           pattern="[^ @]*@[^ @]*"
           required
           ngModel
           name="inputEmail"
           #inputEmail="ngModel"
           (change)="log(inputEmail)">
  
         <div
           class="alert alert-danger"
           *ngIf="inputEmail.touched && !inputEmail.valid ">
           
              <div *ngIf="inputEmail.errors.required">
             Email is required.
           </div>
           <div *ngIf="inputEmail.errors.pattern">
             Must be a valid email address
            </div>
        </div>
  
      </div>
  
          <!-- PHONE -->
  
         <div class="col col-12 col-sm-6 col-md-6 col-lg-6 mb-auto">
           <label class="req" for="num">Phone
             <!-- <span id=ph>*</span> -->
          </label>
           <input
             type="tel"
             class="form-control"
             id="num"
             pattern="[0-9]+"
             [required]="contactPreference.value=='Phone'"
             placeholder="Phone Number"
             ngModel
             name="num"
             #num="ngModel"
             (change)="log(num)">
  
            <div
                  class="alert alert-danger"
                  *ngIf="num.touched && !num.valid">
                  <div *ngIf="num.errors.required">
                    Phone no. is required.
                  </div>
                  <div *ngIf="num.errors.pattern">
                    Invalid input
                  </div>
            </div>
           </div>
          </div>
  
      <!-- CHECKBOX -->
  
        <div class="form-group form-check mt-2">
          <input
          type="checkbox"
           class="form-check-input"
           id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">
            <i>I agree to receive email marketing from The Ritz-Carlton Yacht Collection.</i>
          </label>
        </div>
  
        <div class="form-group form-check mt-2">
          <input
          type="checkbox"
          class="form-check-input"
          id="exampleCheck2">
          <label class="form-check-label"
           for="exampleCheck2"><i>I agree to be contacted by phone by representatives from The Ritz-Carlton Yacht Collection beyond this brochure request.</i>
          </label>
        </div>
  
  
         <div class="par"><p>
           <i>By clicking the “Submit” button below, I represent that: (1) I am 18+ years of age; and (2) I have read and agreed to the <span>Terms and Conditions</span> and <span>Privacy Policy.</span> By entering information on this form, you acknowledge that you are providing it to The Ritz-Carlton Hotel Company, L.L.C. and Cruise Yacht OpCo Limited d/b/a The Ritz-Carlton Yacht Collection which uses The Ritz-Carlton marks under license from The Ritz-Carlton Hotel Company, L.L.C</i></p>
        </div>
          <!-- BUTTONS -->
  
        <div class="btn-toolbar text-center well">
  
    <button type="submit" (click) = "showSuccess()" class="btn btn-primary mb-3" [disabled]="!form.form.valid"  >
      Submit
    </button>
        <button
          type="reset"
           class="btn btn-primary mb-3">
           CLEAR
        </button>
      </div>
  
      </form>
      </div>
  
  
    </div>
  
  