.btn-toolbar .btn{
  margin-right: 15px;
}
.btn-toolbar .btn:last-child{
  margin-right: 0;
}

.entry{
  color: rgb(240, 9, 9);

}

.par{

  text-align: center;
  text-align: justify;
  text-justify: inter-word;
}
input[type="radio"]{
  margin: 0 10px 0 10px;
}
span { color: rgb(18, 124, 245); }
em{color: red;}

.btn{
  padding: 5px 50px;
  border: 0 none;
  font-size: 15px;
  border-radius: 0%;
  background-color: grey;
  color:white;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
}

body {
  padding-top: 120px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-control.ng-touched.ng-invalid{

  border: 2px solid red;
}

.bg{
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  /* background-image: url('https://getflywheel.com/wp-content/uploads/2015/08/free-blurred-backgrounds.jpg'); */
  background-repeat:repeat;
  display: flex;
  flex-direction: column;
  
 
}

.design{

  border-top: 1rem;
  width: 80%;
}



/* .required
{    
  display: none;
  display:inline-flex !important;
   }   */

   #ph {
    display: none;
    
  }
  
  #zip{
  
    display: none;
  } 
  
   .req
  {
    display:inline-flex !important; 
  } 



