 
          <div id="navbar" class="navbar-collapse collapse">  
              <ul class="nav navbar-nav">  
                  <li routerLinkActive="active">  
                      <a routerLink="/login">Login</a>  
                  </li>  
                  <li routerLinkActive="active">  
                      <a routerLink="/landing">Landing</a>  
                  </li>  
              </ul>  
          </div>  
  <router-outlet></router-outlet>  
