<table class="table table-hover p-5  table-striped table-responsive ">
  <thead class="thead-dark ">
  <tr>
            <th scope="col">ID</th>
  
            <th scope="col">DEPARTURE YEAR & MONTH</th>
  
            <th scope="col">NIGHTS</th>
  
            <th scope="col">STARTING PRICE</th>

            <th scope="col">SUITE AVAILABILITY</th>

            <th scope="col">VOYAGE EMBARK PORT</th>

            <th scope="col">VOYAGE DISEMBARK PORT</th>

            <th scope="col">VOYAGE NAME</th>

            <th scope="col">VOYAGE REGION</th>

            <th scope="col">YATCH NAME</th>

            <th scope="col">YATCH ID</th>

            <th scope="col">PORTS LIST</th>
  </tr>
  </thead>

  <tbody>
  <tr class="container" *ngFor="let voyagedata of voyagedata | sortBy:'desc':'voyageName'">
    
    <th scope="row">{{ voyagedata.id }}</th>

    <td>{{voyagedata.departureYearMonth| slice:0:4}}/{{voyagedata.departureYearMonth| slice:5:7}}</td>

    <td>{{voyagedata.nights}}</td>

    <td>{{voyagedata.startingPrice}}</td>

    <td>{{voyagedata.suiteAvailability}}</td>

    <td>{{voyagedata.voyageEmbarkPort}}({{voyagedata.voyageEmbarkPortCode}})</td>

    <td>{{voyagedata.voyageDisembarkPort}}({{voyagedata.voyageDisembarkPortCode}})</td>

    <td>{{voyagedata.voyageName}}</td>

    <td>{{voyagedata.voyageRegion}}</td>

    <td>{{voyagedata.yachtName}}</td>
    
    <td>{{voyagedata.yachtId}}</td>

    <td>{{voyagedata.ports}}</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshVoyages()">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshVoyages()">
    <option [ngValue]="3">3 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="6">6 items per page</option>
    <option [ngValue]="7">7 items per page</option>
    <option [ngValue]="8">8 items per page</option>
    <option [ngValue]="9">9 items per page</option>
  </select>
</div>
